
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



<!DOCTYPE html>
<html lang="en">

<body>

    @Html.Action("FeaturePartial")

    @Html.Action("AboutPartial")

    @Html.Action("AboutMatterPartial")

    @Html.Action("CategoryPartial")

    @Html.Action("CoursePartial")

    @Html.Action("InstructorPartial")

    @Html.Action("TestimonialPartial")

</body>

</html>
