@model List<MyElearningProject.DAL.Entities.Map>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Lokasyonlar</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Lokasyon Listesi</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Lokasyon</th>
                        <th>Durum</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>

                            @if (@item.LocationURL == null || @item.LocationURL.Length <= 100)
                            {
                                <td>@item.LocationURL</td>
                            }
                            else
                            {
                                <td>
                                    <a href="#" id="DescriptionBtn"
                                       onclick="return confirm('@item.LocationURL');">
                                        @item.LocationURL.Substring(0, 100)...
                                    </a>
                                </td>
                            }
                            <td>
                                @if (item.Status)
                                {
                                    <i class="fa fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                <a href="/Map/DeleteMap/@item.MapID" class="btn btn-outline-danger" id="DeleteBtn"
                                   onclick="return confirm('Silmek istediğinize emin misiniz?');"> Sil</a>
                            </td>
                            <td><a href="/Map/UpdateMap/@item.MapID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
                <a href="/Map/AddMap/" class="btn btn-outline-primary">Yeni Lokasyon Girişi</a>
            </div>
        </div>
    </div>
</div>